.section{
    text-align: center;
    background-color: grey;
    min-height: 20em;
    margin-top: 0;
    padding-top: 10px;
}
.photoCardDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}