.cardDiv{
    background-color: whitesmoke;
    min-height: 12em;
    text-align: center;
    box-shadow: 5px 5px 15px grey;
}
.para{
    letter-spacing: 2px;
    color: grey;
}
.hOne{
    color: grey;
}
.icon{
    font-size: 5em;
    color: rgb(255, 58, 58);
}