.section{
    background-color: rgb(226, 219, 219);
    padding: 7% 0;
    text-align: center;
}
.title{
    text-align: center;
}

.para{
    font-weight: light;
    text-align: center;
    letter-spacing: 2px;
}
.btn{
    background-color: blueviolet;
    border: 1px solid rgb(159, 107, 228);
    border-radius: 10px;
    padding: 20px 40px;
    color: whitesmoke;
    font-weight: 900;
    margin: auto;
}